.main-chat
  .header
    .header__group-box
      %p.header__group-box__group-name
        = @group.name
      %p.header__group-box__group-member
        Member :
        - @group.users.each do |user|
          = user.name
    .header__edit-btn
      = link_to edit_group_path(@group.id) do
        = "Edit"
  .messages
    = render @messages
      
  .form
    = form_for [@group, @message] do |f|
      .post-message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fa', 'image',class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'